<!-- Main Content-->
<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>La historia de BMW Motorrad está marcada por el impulso de avanzar. Llena de desafíos y éxitos. Pero también de duros reveses y perseverancia. Rendirse nunca ha sido una opción. Nuestra historia va sobre todo de personas con una pasión compartida: aventureros, soñadores, manitas, deportistas, visionarios; tanto hombres como mujeres. De aquellas personas que, con grandes ideas sobre dos ruedas, quieren revolucionar la carretera. 100 años del espíritu «Make Life a Ride». Con este espíritu, miramos hacia atrás y, al mismo tiempo, hacia delante: con ganas de participar en los eventos y acontecimientos del año del aniversario 2023. Y muchas ideas que están por llegar.</p>
                <p>100 años en una obra de arte: Los aspectos destacados de los 100 años de historia de BMW Motorrad muestran este motivo de forma lúdica e ilustrativa. ¿Qué hitos podrás descubrir?: el motor Boxer, la pose vencedora del París-Dakar, el modelo del aniversario con un lazo, la planta de Berlín del BMW Group y muchos más.</p>
                <p>En 2023 celebramos nuestra historia con dos modelos de edición: la BMW R 18 100 Years y la BMW R nineT 100 Years. La R nineT es un tributo a la R 75/5 de 1969 con su depósito cromado y la técnica de pintura sobre cromo. La R 18 rememora el diseño de la R 5 de 1936 con su depósito en forma de gota repasada. Los dos modelos para apasionados están limitados a 1923 unidades cada uno.</p>
            </div>
        </div>
    </div>
</main>